@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: #191765;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #191765;
  padding: 0 25px;
  font-size: 18px;
  line-height: 16px;
  color: white;
}

header a {
  color: white;
  text-decoration: none;
}

header ul {
  display: none;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: #191765 url('./images/Ellipse18.png') -20px -50px no-repeat;
}

.first-section {
  height: 95vh;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 0 25px;
  flex-direction: column;
}

.title {
  width: 325px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.description {
  width: 325px;
  flex-direction: column;
}

.first-section h1 {
  color: #7d73fc;
  font-weight: bold;
  line-height: 70px;
  font-size: 48px;
  letter-spacing: 0.37px;
}

.first-section h2 {
  color: #edecff;
  line-height: 45px;
  font-size: 32px;
  letter-spacing: 0.37px;
}

.first-section p {
  width: 325px;
  height: 170px;
  text-align: center;
  align-content: center;
  color: #c8c8d4;
  line-height: 28px;
  font-size: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #646369;
}

.seconed-section {
  width: 325px;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #646369;
}

.seconed-section h3 {
  color: #9490ff;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 10px;
}

.seconed-section ul {
  list-style-type: none;
}

.seconed-section li {
  color: #f5f5ff;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
}

.lang-grid-item {
  display: grid;
  grid-template-rows: repeat(5, 40px);
  text-align: left;
}

.frame-skills-grid-item {
  display: grid;
  grid-template-rows: repeat(6, 40px);
  text-align: left;
}

.third-section {
  height: 50vh;
  display: grid;
  grid-template-rows: 20% 80%;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.grid-item {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.work-nav-1 img {
  height: 18px;
  width: 21px;
}

.third-section .work-nav-2 {
  display: none;
}

.third-section .work-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.work-nav-1 p {
  color: #a2a3ae;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}

.third-section h2 {
  color: #9490ff;
  font-size: 40px;
  line-height: 52px;
  text-align: left;
  padding: 0 25px;
}

.recent {
  align-items: flex-end;
  width: 325px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #646369;
}

.work {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 25px;
  padding: 10px 20px;
}

.work-story {
  display: flex;
  flex-direction: column;
}

.work h2 {
  margin: 15px 0;
  font-size: 28px;
  line-height: 44px;
  text-align: left;
  color: white;
}

.work p {
  font-size: 22px;
  line-height: 28px;
  text-align: left;
  color: #dcdce8;
}

button {
  background-color: #7d73fc;
  border: #7d73fc;
  color: #edecff;
  width: 90px;
  height: 50px;
  margin-top: 15px;
}

button:hover {
  box-shadow: -3px 5px 10px rgba(125, 115, 252, 0.48);
  transform: scale(1.05);
  border: rgba(125, 115, 252, 0.48);
}

button:active {
  background-color: #5e42d7;
}

button:disabled {
  background-color: black;
}

.w-section-tech {
  display: grid;
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  grid-template-columns: repeat(4, 1fr);
  color: white;
  list-style-type: none;
}

.w-section-tech li {
  border-right: 1px solid #555;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.w-section-tech .last-tech {
  border-right: transparent;
}

.ws-1 {
  background: #191765 url('./images/Ellipse20.png') no-repeat;
}

.ws-2 {
  background: url('./images/Ellipse21.png') center right no-repeat;
  background-size: 200px;
}

.ws-3 {
  background: #191765 url('./images/Ellipse22.png') center left no-repeat;
}

.ws-4 {
  background: #191765 url('./images/Ellipse23.png') center right no-repeat;
}

.contact {
  height: 95vh;
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  margin-top: 25px;
}

.contact h2 {
  font-weight: bold;
  color: #9390ff;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  margin-bottom: 10px;
}

.contact .chat {
  display: none;
}

.contact p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f5f5ff;
  padding: 0 25px;
  margin: 20px 0;
}

.contact input {
  width: 100%;
  padding: 5px 10px;
  margin: 5px 0;
  display: inline-block;
  box-sizing: border-box;
}

.contact .latsName {
  display: none;
}

.contact textarea {
  width: 100%;
  height: 150px;
  padding: 5px 10px;
  margin: 5px 0;
  display: inline-block;
  box-sizing: border-box;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
  justify-content: flex-end;
  align-items: center;
}

.social-footer {
  display: flex;
  width: 65%;
  justify-content: space-around;
}

footer a {
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
}

@media (min-width: 1025px) {
  header {
    display: flex;
  }

  header nav {
    height: 70px;
    width: 100%;
    padding: 0 75px;
  }

  header .nav-mobile {
    display: none;
  }

  header ul {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
  }

  .container {
    background-image: url('./images/circle-1-header.png'), url('./images/circle-2-header.png'), url('./images/de-Ellipse-19.png'), url('./images/de-Ellipse-20.png'), url('./images/de-Ellipse-21.png'), url('./images/de-Ellipse22(1).png');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: top left, 100% 20%, 0% 35%, 100% 55%, 0% 75%, 100% 85%;
  }

  .first-section {
    height: 60vh;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #646369;
  }

  .first-section h1 {
    color: #9390ff;
    font-size: 65px;
    font-weight: bold;
    line-height: 100px;
  }

  .first-section h2 {
    color: #dfe1e6;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 20px;
  }

  .first-section p {
    color: #b3bac5;
    font-size: 20px;
    line-height: 32px;
  }
}
